@import 'mixins';
@import 'theme';

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $theme-darker;
  height: 20vh;
  max-height: 350px;
  width: 100vw;

  .footer-menu {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .footer__link {
    color: $theme-sub;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: $x-decel-hang;

    &:hover {
      color: $theme-light;
      transform: translateX(-0.5rem);

      &:after {
        transform: translateX(calc(-100% + 0.5rem));
        transition: $x-decel-leading;
      }
    }
  }
  .made-by {
    flex-basis: 100%;
    text-align: center;
    font-size: 0.65rem;
    color: $theme-sub;
  }
}
