@import 'mixins';
@import 'theme';

.hero {
  &__grid {
    display: grid;
    position: relative;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: 5vh 1fr 10vh;

    @media screen and (orientation: portrait) {
      height: auto;
      grid-template-rows: 20vh repeat(2, 1fr);
      margin: 0 -1rem;
    }
  }

  &__video {
    width: auto;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    @media screen and (orientation: portrait) {
      height: 100%;
      width: auto;
    }
  }

  &__header {
    grid-area: 2 / 2 / 3 / 3;
    place-self: center;
    z-index: 10;

    * {
      color: $theme-light;
    }

    .header__svgs {
      display: flex;
      align-items: center;
      margin: 0.25rem 0;
      .svgs__svgs {
        margin-left: 0.5rem;
      }
      svg {
        margin: 0 0.33rem;
      }
    }
  }

  &__buttons {
    grid-area: 3 / 2 / 4 / 3;
    place-self: center;
    z-index: 10;

    @media screen and (orientation: portrait) {
      display: flex;
      flex-flow: column nowrap;

      place-self: normal start;
      margin: 1.5rem -0.75rem;
    }
  }

  &__image {
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
    z-index: -999;
  }
}
