@import 'mixins';
@import 'theme';

.main-content {
  @include flex(row, wrap) {
    justify-content: stretch;
    align-items: stretch;
  }
  grid-area: main;

  h1 {
    flex-basis: 100%;
  }
  @media screen and (orientation: portrait) {
    padding: 0 1rem;
  }
}
