@mixin flex($direction, $wrapping, $axis: '') {
  display: flex;
  flex-flow: $direction $wrapping;

  @if $axis == 'inline' or 'both' {
    justify-content: center;
  } @else if $axis == 'block' or 'both' {
    align-items: center;
  }
  @content; // allow overriding
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin aspect-ratio($aspect-width, $aspect-height, $base-width) {
  $aspect-ratio: ($aspect-height / $aspect-width) * 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25% * ($base-width / 100%);
  width: $base-width;
}
