@import 'footer';
@import 'layout';
@import 'logo';
@import 'long-story';
@import 'main-content';
@import 'nav';
@import 'theme';

:root {
  font-size: 16px;
}

body {
  background: $theme-gradient;
  font: $theme-font;
  margin: 0 !important;
  overflow: hidden scroll;
  h1,
  h2 {
    color: $theme-dark;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: $header-font;
  }
}
