@import 'footer';
@import 'layout';
@import 'logo';
@import 'long-story';
@import 'main-content';
@import 'nav';
@import 'theme';
@import 'hero';
@import 'buttons';

:root {
  font-size: 16px;
}

body {
  background: $theme-gradient;
  font: $theme-font;
  margin: 0 !important;
  overflow: hidden scroll;
  h1,
  h2 {
    color: $theme-dark;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  marquee {
    font: $header-font;
  }
}

.screen__fullscreen {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
