/* fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Montserrat');

$header-font: 'IBM Plex Sans', sans-serif;
$theme-font: 100% 'Montserrat', sans-serif;

/* dimensions */
$width-nav: 15vw;
$width-main: 85vw;
$height-nav-mobile: 20vh;
$height-main-mobile: 80vh;

/* colors */
$theme-light: #fff;
$theme-dark: #333;
$theme-secondary: #525252;
$theme-blue: #5899e2;

/* gradients */
$theme-gradient: linear-gradient(-165deg, #000, #444);

/* transitions */
$xX-accel: cubic-bezier(0.4, 0, 1, 1);
$x-accel-primary: 0.15s $xX-accel;
$x-accel-trailing: 0.4s $xX-accel;

$xX-decel: cubic-bezier(0, 0, 0.2, 1);
$x-decel-primary: 0.25s $xX-decel;
$x-decel-leading: 0.155s $xX-decel;
$x-decel-trailing: 0.4s $xX-decel;
$x-decel-hang: 4s cubic-bezier(0, 1.41, 0.89, 0.895);
