@import 'mixins';
@import 'theme';

$video-width: 60vw;
$video-height: calc(#{$video-width} * 9 / 16);

#about {
  margin-top: 1.5rem;
  @media screen and (orientation: portrait) {
    margin-top: 3rem;
  }
}
.about {
  &__iframe-wrapper {
    position: absolute;
    display: flex;
    place-content: center;
    width: calc(100vw);
    left: 0;
    top: calc(2.5rem + 2rem + 2rem + 0.83em + 0.83em + 0.1rem);
    background-color: black;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
  }

  &__body {
    display: block;
    flex-basis: 100%;
    padding: 0 20%;

    img {
      max-width: 100%;
      margin-bottom: 1em;
    }

    @media screen and (orientation: portrait) {
      padding: 0 1rem;
    }
  }

  &__profile {
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;

    @media screen and (orientation: portrait) {
      flex-flow: column nowrap;
    }

    .profile__profile-picture {
      $flex-basis: 60%;
      @include aspect-ratio(16, 9, $flex-basis);
      @media screen and (orientation: portrait) {
        @include aspect-ratio(16, 9, 100%);
      }
      border-radius: 34px 1.7px 34px 1.7px;
      background-color: blue;
      flex-basis: $flex-basis;
      margin-right: 1rem;
    }

    .profile__me {
      flex-basis: calc(40% - 1rem);
      text-transform: uppercase;

      .me {
        &__wrapper {
          display: flex;
          align-items: center;
          margin-top: 0.25rem;
        }

        &__me {
          font-size: 1.25rem;
          margin-right: 0.5rem;
        }

        &__social-media {
          margin-top: 0.4rem;
          svg {
            height: 1rem;
          }
        }

        &__title,
        &__location {
          display: flex;
          font-size: 0.9rem;
          color: $theme-sub;

          svg {
            margin-right: 0.5rem;
          }
        }

        &__title {
          margin-top: 0.125rem;
        }

        &__location {
          margin-top: 1rem;
        }
      }

      button {
        font-size: 0.75rem;
        margin: 1rem 0;
      }
    }
  }

  &__desc {
    margin-top: 1.5rem;
  }

  &__cv {
    display: block;
    flex-basis: 100%;
    padding: 0 20%;
    margin-bottom: 2.5rem;

    @media screen and (orientation: portrait) {
      padding: 0;
    }

    .cv {
      &__cv {
        background-color: $theme-dark;
        border-radius: 2.5px;
        padding: 0.5rem 1.25rem;
        margin: 2rem 0;

        section {
          margin-left: 0.5rem;
        }

        h1 {
          $header-size: 1.25rem;
          font-weight: 300;
          font-size: $header-size;
          margin: 2rem auto;

          position: relative;
          text-transform: uppercase;

          &:after {
            position: absolute;
            content: '';
            width: $header-size;
            left: 0.15vw;
            transform: translateY($header-size);
            margin-top: 1rem;
            border-top: 1px solid $theme-red;
          }

          &:first-of-type {
            margin-top: 1.5rem;
          }
        }

        @for $i from 1 through 5 {
          $header-sizes: nth(1.125rem 1rem 0.9rem 0.75rem 0.625rem, $i);

          h#{$i + 1} {
            font-weight: 300;
            font-size: $header-sizes;
            margin: 1.5rem auto -0.25rem;
          }
        }

        p {
          margin-left: 0.75rem;
          font-size: 0.9rem;
        }

        sub {
          font-size: 0.75rem;
        }

        ul,
        ol {
          li {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
