@mixin flex($direction, $wrapping, $axis: '') {
  display: flex;
  flex-flow: $direction $wrapping;

  @if $axis == 'inline' or 'both' {
    justify-content: center;
  } @else if $axis == 'block' or 'both' {
    align-items: center;
  }
  @content; // allow overriding
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin aspect-ratio($aspect-width, $aspect-height, $base-width) {
  $aspect-ratio: ($aspect-height / $aspect-width) * 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25% * ($base-width / 100%);
  width: $base-width;
}

@mixin use-lead-headers {
  @for $i from 1 through 6 {
    $header-sizes: nth(2rem 1.75rem 1.5rem 1.25rem 1.125rem 1rem, $i);
    $marquee-sizes: nth(4rem 3rem 2.5rem 2.25rem 1.75rem 1.5rem, $i);

    h#{$i} {
      font-weight: 300;
      font-size: $header-sizes;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      text-transform: uppercase;

      &:after {
        position: absolute;
        content: '';
        width: $marquee-sizes;
        left: 0.15vw;
        transform: translateY($header-sizes);
        margin-top: 1rem;
        border-top: 1px solid $theme-red;
      }
      &--center {
        text-align: center;
        text-transform: uppercase;
        &:after {
          position: absolute;
          content: '';
          width: $marquee-sizes;
          left: 50%;
          transform: translate(-0.5 * $marquee-sizes, $header-sizes);
          margin-top: 1rem;
          border-top: 1px solid $theme-red;
        }
      }
    }
  }
}

@mixin markdown-formatting {
  h1 {
    $header-size: 1.25rem;
    font-weight: 300;
    font-size: $header-size;
    margin: 2rem auto;

    position: relative;
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: '';
      width: $header-size;
      left: 0.15vw;
      transform: translateY($header-size);
      margin-top: 0.5rem;
      border-top: 1px solid $theme-red;
    }

    &:first-of-type {
      margin-top: 1.5rem;
    }
  }

  @for $i from 1 through 5 {
    $header-sizes: nth(1.125rem 1rem 0.9rem 0.75rem 0.625rem, $i);

    h#{$i + 1} {
      font-weight: 300;
      font-size: $header-sizes;
      margin: #{$header-sizes} auto 0;
    }
  }

  p {
    margin-left: 0.75rem;
    font-size: 0.9rem;
  }

  sub {
    font-size: 0.75rem;
  }

  ul,
  ol {
    li {
      font-size: 0.9rem;
    }
  }
}
