@import './partials/index';
@import './components/index';
@import './pages/index';
@import 'theme';

:root {
  font-size: 16px;
}

/* all headers have font weight 300 */
@for $i from 1 through 6 {
  $header-sizes: nth(2rem 1.75rem 1.5rem 1.25rem 1.125rem 1rem, $i);
  $marquee-sizes: nth(4rem 3rem 2.5rem 2.25rem 1.75rem 1.5rem, $i);

  h#{$i} {
    font-weight: 300;
    font-size: $header-sizes;
    margin-left: auto;
    margin-right: auto;
  }

  h#{$i}.marquee {
    font: $header-font;
    padding: 0;
    margin: 0;
  }

  h#{$i}.jumbotron {
    font-size: $marquee-sizes;
  }

  h#{$i}.lead {
    position: relative;
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: '';
      width: $marquee-sizes;
      left: 0.15vw;
      transform: translateY($header-sizes);
      margin-top: 1rem;
      border-top: 1px solid $theme-red;
    }
    &--center {
      text-align: center;
      text-transform: uppercase;
      &:after {
        position: absolute;
        content: '';
        width: $marquee-sizes;
        left: 50%;
        transform: translate(-0.5 * $marquee-sizes, $header-sizes);
        margin-top: 1rem;
        border-top: 1px solid $theme-red;
      }

      @media screen and (orientation: portrait) {
        text-align: left;

        &:after {
          left: 0.15vw;
          transform: translateY($header-sizes);
        }
      }
    }
  }
}

body {
  background: $theme-gradient;
  min-height: 100vh;
  /* main text is #FCFCFC */
  color: $theme-light;
  .subtext {
    color: $theme-sub;
  }
  font: $theme-font;
  margin: 0 !important;
  overflow: hidden scroll;

  @for $j from 2 through 6 {
    h#{$j} {
      margin: 0 0 1rem 0;
    }
  }

  p {
    margin: 0 0 1rem 0;
  }
}

.screen__fullscreen {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  @media screen and (orientation: portrait) {
    height: auto;
    width: auto;
  }

  &--main {
    padding: 2.5rem 0;

    @media screen and (orientation: portrait) {
      padding: 0;
      margin: 3.5rem 0;
    }
  }
}

a {
  &.text-link {
    color: $theme-light;
    text-decoration: none;
    transition: $x-decel-hang;

    &:hover {
      margin-left: 0.5rem;
    }
  }
}

svg {
  transition: $x-decel-primary;

  &:hover {
    path {
      fill: $theme-sub;
    }
  }
}
