@import 'mixins';
@import 'theme';

.projects-page {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  position: relative;
  width: 100vw;
  height: 100vw;

  h1 {
    flex-basis: 100%;
    height: 2rem;
  }

  &__masonry {
    display: flex;
    margin-top: 1rem;
    flex-basis: calc(100% - 10rem);
  }
}

.masonry__project-anchor {
  width: calc(20vw - 1rem);
  margin: 0 0.5rem 0.5rem 0;
  overflow: hidden;
}

.masonry__project-image {
  width: calc(20vw - 1rem);
  transition: $x-decel-hang;
  transform-origin: center;
  &:hover {
    width: 20vw;
    margin: 0 2rem 1rem 0;
  }
}
