@import 'theme';

div.logo {
  border: 2px solid $theme-light;
  border-radius: 5px;
  font-family: $header-font !important;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0.5rem 3rem;
  margin: 1rem 0 1.5rem;
  text-align: center;
}

a.logo {
  color: $theme-light;
  margin-left: 0 !important;
  text-decoration: none;

  &:hover {
    color: $theme-light;
  }
}
