@import 'mixins';

._fullscreen-flex {
  display: flex;
  position: relative;
  height: inherit;
  width: inherit;
}

.long-story {
  &__introduction {
    @extend ._fullscreen-flex;

    @media screen and (orientation: portrait) {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    &--main {
      flex-basis: 35%;
      margin-left: 15%;
      margin-bottom: 20vh;
      align-self: center;

      @media screen and (orientation: portrait) {
        margin: 3rem 1.5rem;
      }

      .introduction {
        &__header {
          text-transform: uppercase;
        }

        &__action {
          display: flex;
          align-items: center;
          padding-top: 0.25rem;
          svg {
            margin-left: 0;
            margin-right: 0.5rem;
          }
        }
      }
    }

    &--stills {
      display: flex;
      flex-flow: column nowrap;
      flex-basis: 65%;
      margin-right: 10%;
      align-self: center;

      @media screen and (orientation: portrait) {
        display: none;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        margin: 0.5rem auto;
        width: 100%;
      }

      [class^='introduction__still'] {
        @include aspect-ratio(16, 9, 35%);
        border-radius: 34px 1.7px 34px 1.7px;
        margin: 0.5rem;
      }

      .introduction__still {
        &--1 {
          margin-right: 15%;
          align-self: flex-end;
          background-color: $theme-blue;
        }

        &--2 {
          align-self: center;
          background-color: $theme-yellow;
        }

        &--3 {
          margin-left: 15%;
          background-color: $theme-red;
        }
      }

      [class^='introduction__still'] {
        @media screen and (orientation: portrait) {
          margin: 0.25rem;
          align-content: center;
        }
      }
    }
  }

  &__projects {
    @extend ._fullscreen-flex;

    @media screen and (orientation: portrait) {
      margin: 3rem 1.5rem;
    }

    &--viewbox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 60%;
      overflow-x: hidden;

      .viewbox {
        &__screen {
          @include aspect-ratio(16, 9, 70%);
          position: relative;
          background-color: $theme-darker;
          border: 5px solid rgba($theme-darker, 0.9);
          border-radius: 5px;
          transition: $x-decel-trailing;
        }
      }

      @media screen and (orientation: portrait) {
        display: none;
      }
    }

    &--menu {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      margin-left: -5vw;
      flex-basis: 40%;

      @media screen and (orientation: portrait) {
        flex-basis: 100%;
        margin: auto;
      }

      ul {
        position: relative;
        padding-left: 0;
        width: 70%;

        @media screen and (orientation: portrait) {
          width: 100%;
        }

        .carousel-marker {
          position: absolute;
          background-color: $theme-darker;
          border-radius: 5px;
          border-left: 2px solid $theme-red;
          color: $theme-darker;
          transition: $x-decel-leading;
          z-index: -1;
        }

        li {
          color: $theme-sub;
          height: 1.5rem;
          list-style-type: none;
          margin-bottom: 1rem;
          overflow-y: hidden;
          padding: 1rem;
          transition: $x-decel-primary;

          p {
            color: $theme-sub;
          }

          h3 {
            cursor: pointer;
          }

          h5 {
            margin-bottom: 0.25rem;

            @media screen and (orientation: portrait) {
              margin-bottom: 1.5rem;
            }
          }

          &.active {
            color: $theme-light;
            height: auto;
            margin-left: 2px;
          }
        }
      }
    }
  }

  &__about {
    display: flex;
    flex-flow: row wrap;
    height: inherit;
    align-content: center;
    align-items: center;
    margin: 0 20vw;
    transform: translateY(-5rem);

    @media screen and (orientation: portrait) {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 3rem 1.5rem;
      transform: translateY(0);
    }

    [class*='__header'] {
      text-transform: uppercase;
    }

    &--header {
      display: block;
      flex-basis: 100%;
      margin-bottom: 2.5rem;
      width: 40%;

      @media screen and (orientation: portrait) {
        width: auto;
        text-align: left;
        margin-bottom: 1rem;
      }
    }

    &--left,
    &--right {
      flex-basis: 45%;
      margin: 0 2.5%;

      @media screen and (orientation: portrait) {
        margin: 0;
        h4 {
          margin-bottom: 2.5rem;
        }
      }

      svg {
        margin-right: 0.5rem;
        path {
          fill: $theme-sub;
        }
      }
    }
  }
}
