@import 'mixins';

nav.nav {
  /* sticky */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  height: 0;
  width: 100vw;
  padding: 1.5rem 0 1.5rem 0;
  top: 0;
  right: 1.5rem;
  visibility: visible;
  z-index: 9999999999999999; /* yes, if you're reading the source code, this is definitely 100% absolutely a best practice */

  .hidden {
    visibility: hidden;
  }

  /* children */
  .nav__link {
    color: $theme-sub;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: $x-decel-hang;

    &:hover {
      color: $theme-light;
      transform: translateX(-0.5rem);

      &:after {
        transform: translateX(calc(-100% + 0.5rem));
        transition: $x-decel-leading;
      }
    }
  }
}
